.Mhrgnat-Nav-Section2
{
    overflow: hidden;
    background: linear-gradient(to right, #f85032, #e73827);
    color: #fff;
    height: 100vh;


.Card-Header-Text
{
    div
    {
        h1
        {
            font-family: 'Rakkas', cursive;
        }
    }
}





.Card-Audio1
{    margin: 2em 0em;
    height: 50vh;
    overflow: hidden;
    font-family: 'Reem Kufi', sans-serif;

    .Style-1
    {  text-align: center;
        background: #f1f3f4;
        border-radius: 1em 1em 6px 6px;
        overflow: hidden;
        audio
        { 
            width: 100%;
            box-shadow: 0px 0px 19px 2px #a09191;
        }

        h1
        {    color: #6f7071;
            font-size: x-large;
            padding: .5em 0em;
            margin: 0;
        }




    }

    .Style-1:hover
    {
        background-image: url(https://media0.giphy.com/media/l0HlQhwqUADA6zbKE/giphy.gif);
        background-size: cover;
        background-position: center;
        border-radius: 1.6em;
        overflow: hidden;
    
    }

    .Style-1:hover h1
    {
        background-color: #adb5bd21;
        padding: 5em 0em;
        color: #e4e1e1;
        text-shadow: 0px 3px 4px black;
    }






    .Style-2
    {   text-align: center;
        background: #f1f3f4;
        border-radius: 1em 1em 0em 0em;
        overflow: hidden;
        audio
        { 
            width: 100%;
            box-shadow: 0px 0px 19px 2px #a09191;
        }

        h1
        {    color: #6f7071;
            font-size: x-large;
            padding: .5em 0em;
            margin: 0;}




    }

    .Style-2:hover
    {
        background-image: url(https://24.media.tumblr.com/tumblr_llbfxanRRx1qeqshio1_400.gif);
        background-size: cover;
        background-position: center;
        border-radius: 1.6em;
        overflow: hidden;
    
    }

    .Style-2:hover h1
    {
        background-color: #adb5bd21;
        padding: 5em 0em;
        color: #e4e1e1;
        text-shadow: 0px 3px 4px black;
    }















    .Style-3
    {   text-align: center;
        background: #f1f3f4;
        border-radius: 1em 1em 0em 0em;
        overflow: hidden;
        audio
        { 
            width: 100%;
            box-shadow: 0px 0px 19px 2px #a09191;
        }

        h1
        {    color: #6f7071;
            font-size: x-large;
            padding: .5em 0em;
            margin: 0;}




    }

    .Style-3:hover
    {
        background-image: url(https://i.gifer.com/40TO.gif);
        background-size: cover;
        background-position: center;
        border-radius: 1.6em;
        overflow: hidden;
    
    }

    .Style-3:hover h1
    {
        background-color: #adb5bd21;
        padding: 5em 0em;
        color: #e4e1e1;
        text-shadow: 0px 3px 4px black;
    }














}


.Fotter-Audio1
{
    div
    {
        text-align: center;
        a
        {
            display: block;
            background: #5d5858;
            font-size: 27px;
            font-weight: 100;
            color: #f9f9f9;
            text-shadow: -1px 1px 3px #bd9f9f;
            opacity: .5;
            border-radius: 2px;
            text-transform: capitalize;
            font-family: 'Do Hyeon', sans-serif;

        }
        a:hover
        {
            text-decoration: none;
        }
    }
}

}