.Header-Nav-Section1
{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background: linear-gradient(to right, #ff6a00, #ff8c00, rgba(255,0,128,0.631373));
    height: auto;
    overflow: hidden;
    background: linear-gradient(to right, #f85032, #e73827);
    color: #fff;



.container
{
    padding-top: 8em;
    padding-bottom: 12em;

.Card-Img
{
    div
    {
        img
        {  width: 100%;}
    }
}



.Card-Text
{
    div
    {
        text-align: center;
        padding-top: 7em;
        
        h1
        {   font-family: 'Rakkas', cursive;
            font-size: 59px;}

        p
        {    line-height: 5;}

        button
        {
            font-family: 'Rakkas', cursive;
            border: 0;
            background: tomato;
            color: #fff;
            padding: .3em 2em;
            font-size: 25px;
            border-radius: 4px;
        }


        .button2
        {display: none;}

    }
}







}








}